---

---

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Writing</a>
    <!-- <a href="https://guochen.substack.com/" target="_blank">Blog
    </a> -->
    <a href="https://github.com/GuoChen018" target="_blank">GitHub <i class="ph ph-arrow-up-right"></i></a>
</nav>

