---

---

<nav>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Writing</a>
    <!-- <a href="https://guochen.substack.com/" target="_blank">Blog
    </a> -->

    <a href="https://drive.google.com/file/d/1-LBBc8UBiLkCD8bovgK_oMftdRwbYjad/view?usp=sharing" target="_blank">Resume 
        <!-- <i class="ph ph-arrow-up-right"></i> -->
    </a>
</nav>

